{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}



<div class="logo">
  <span class="echo">E</span>
  <span class="bravo">B</span>
</div>


<div class="page">




<div class="names-date">
  <div class="intro">
  Save our Date
  </div>
  <div class="names">
    Ellen <span class="ampersand">&amp;</span> Barney
  </div>
  <div class="date">
    18 <span>&bull;</span> 12 <span>&bull;</span> 16
  </div>
</div>

</div>

<img class="decoration top-right" src="images/top-right-decoration.png">
<img class="decoration bottom-left" src="images/bottom-left-decoration.png">

{% endblock %}
