{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}


<div class="logo">
  <span class="echo">E</span>
  <span class="bravo">B</span>
</div>


<div class="page">




<div class="names-date">
  <div class="intro">
  Save our Date
  </div>
  <div class="names">
    Ellen <span class="ampersand">&amp;</span> Barney
  </div>
  <div class="date">
    18 &bull; 12 &bull; 16
  </div>
</div>

</div>

{% endblock %}
