@import "_globals";

html, body {
    height: 100%;
}


body {
  background-color: $backgroundColour;

  height: 100%;


}

.logo {

  position: relative;;
  font-family: 'Alex Brush', cursive;
  font-size: 3em;


  .echo {
    position: absolute;
    top: 0;
    left: 0;
  }

  .bravo {
    position: absolute;
    top: 0.33em;
    left: 0.21em;
  }
}

.names {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 4em;
  .ampersand {
    font-family: 'Alex Brush', cursive;
    color: $secondaryColour;
    font-weight: bold;
  }
}

.intro {
  font-family: 'Alex Brush', cursive;
  text-align: center;
  font-size: 2em;
}

.date {
  font-size: 3em;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  span {
    color: $secondaryColour;

  }
}

.page {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:100vh;
  position: relative;

  div {
    flex: 0 1 auto;
  }
}

.decoration {
  z-index: 0;
  position: absolute;
  width: 200px;
  max-width: 50vw;
  &.top-right {
    top: 0;
    right :0;
  }

  &.bottom-left {
    bottom: 0;
    left: 0;

  }
}
